/* ==========================================================================
   Base styles
   ========================================================================== */
@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
html {
  color: var(--background-color);
  font-size: 1em;
  line-height: 1.35;
}
:root {
  --ff-primary: 'Inter', sans-serif;
  --fw-bold: 600;
  --clr-dark: rgb(45,51,56);
  --clr-accent: rgb(160, 160, 160);
  --clr-light: rgb(249,249,249);
  --background-color: rgb(249,249,249);
  --fs-h2: 1.25rem;
  --fs-h1: 1.4rem;
}
@media (max-width: 800px) {
  :root {
    --fs-h2: 1.75rem;
    --fw-bold: 900;
    --fs-body: 1.125rem;
  }
}
body {
  background-color: RGB(249,249,249);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
/* ==========================================================================
   Nav-bar
   ========================================================================== */
header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--clr-dark);
  opacity: 0.85;
}
header a {
  text-decoration: none;
  color: var(--clr-light);
}
.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  max-width: 900px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 8px;
}
.nav-link:hover {
  color: var(--clr-accent);
}
.nav-toggle {
  display: none;
}
.nav-label {
  font-size: var(--fs-h1);
  padding-right: 1em;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }
  .nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
  }
  .nav-link:hover {
    color: var(--clr-accent);
  }
  .nav-toggle {
    display: inherit;
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    outline: none;
  }
  .nav-open .nav {
    transform: translateX(0);
  }
  .nav-open .nav-toggle {
    position: fixed;
  }
  .nav-open .hamburger {
    transform: rotate(.625turn);
  }
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  .nav-open .hamburger::after {
    opacity: 0;
  }
  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger, .hamburger::before, .hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }
  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }
  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }
  header nav ul li {
    position: relative;
    margin: 2px;
  }
}




















